{% layout 'layout.liquid' %}
{% block content %}
    <!-- we need to account for two conditions here -->
    <!-- first, if we have vehicles in our array -->
    <!-- second, if there are no vehciles in the array -->
    {% if vehicles.length > 0 %}
        <div class="container-md">
            <h2>All Vehicles</h2>
            <div class="row">
                {% for vehicle in vehicles %}
                 
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container-md">
            <h2>Currently vehicle in inventory</h2>
        </div>
    {% endif %}
{% endblock %}