{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/vehicles" method="POST">
        <fieldset>
            <legend>Create New Vehicle</legend>
            <label class="form-label">Year: </label>
            <input 
                type="number" 
                name="year" 
                placeholder="enter vehicle year"
                class="form-control"
            >
            <label class="form-label">Make:</label>
            <input 
                type="text" 
                name="make" 
                placeholder="enter vehicle make" 
                class="form-control"
            >
            <label class="form-label">Model:</label>
            <input 
                type="text" 
                name="model" 
                class="form-control"
            >

            <label class="form-label">Book:</label>
            <input 
                type="text" 
                name="book" 
                placeholder="reservation link" 
                class="form-control"
            >

            <label class="form-label">Keyword:</label>
            <input 
                type="text" 
                name="keyword" 
                placeholder="keywords" 
                class="form-control"
            >


            <label class="form-label">Image:</label>
            <input 
                type="text" 
                name="image" 
                class="form-control"
            >     
            
            <input 
                type="checkbox" 
                name="favorite" 
                class="form-check-input"
            >
        </fieldset>
        <input type="submit" value="Create New Vehicle" class="btn btn-success">
    </form>
</div>
{% endblock %}