{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h1>Welcome to the SAH Motors</h1>
        <p></p>
        <img src="https://i.imgur.com/Sdz8BS6.jpg" alt="Mustang photo" height="600px">
    </div>
{% endblock %}